<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azulejo">
    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/icone"
        android:label="@string/app_nome"
        android:theme="@style/AppTema"
        android:largeHeap="true"
        android:resizeableActivity="true"
		android:name=".debug.Crash">
        <activity
            android:name=".InicioActivity"
            android:label="@string/app_nome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		<activity
			android:name=".debug.Crash$CrashActivity"
			android:process=":crash"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>
    </application>
</manifest>
